.circle{
    background-color: #642624;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;

        &:hover{
            background-color: rgb(212, 74, 74);
        }
    
}
button{
    border: none;
    background: none;
    outline: none;
}