body{
    overflow: hidden;
}
.page{
    background-color: #445491;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: minmax(50px, auto);
    justify-content: center;
    align-content: center;
}
.logo{
    justify-self: center;
    align-self: center;
    margin-top: 10%;
    margin-right: 11%;
}

.aboutus{
    justify-self: center;
    align-self: center;
    grid-column: 3/4;
    margin-top: 10%;
    margin-right: 15%;
}
.buynow{
    margin-left: 22%;
}
.shoes{
    justify-self: center;
    align-self: center;
    margin-top: 7%;
}
.shoe{
    position: relative;
    z-index: 2;
    width: 600px;
    height: 600px;
}

.shoelogo{
    margin-left:-2% ;
    position: absolute;
    z-index: 1;
    width: 771.05px;
    height: 716.18px;
    transform: rotate(-10deg);
}
.sidebuttons{
    justify-self: center;
    align-self: center;
    display: grid;
    gap: 20px;
}
.product{
    grid-column:1/2 ;
    justify-self: center;
    align-self: center;
}

.nikeairmax{
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}
.social{
    justify-self: center;
    align-self: center;
    margin-top: -10%;
    padding-bottom: 38px;
}